.header {
    text-align: center;
    padding-bottom: 0%;
}

#name {
    text-decoration: underline;
}

.calcnums {
    max-width: 500px;
    margin: 10% auto 0 auto;
    margin-top: 0px;
    border-top: 0px;
}

#resbar {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 15px 10px;
    font-size: 25px;
    border: 1px solid black;
}

.syms {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.but {
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}


.but:hover {
    background-color: #ffe042;
    transition: 0.7s;
    color: #143d59;
}

#esign {
    border: 1px solid black;

}



